:root {
  --primary-color: #205020;
  --accent-color: #e0d038;
  --accent-alt: #e0d040;
  --bg-color: #fdfdf0;
  --text-color: #1a1a1a;
  --muted-color: #90b080;
  --card-radius: 12px;
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  --font-family: 'Segoe UI', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.profile-container {
  background-color: var(--bg-color);
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  border-radius: var(--card-radius);
  box-shadow: var(--shadow);
  text-align: center;
  position: relative;
}

button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--accent-color);
  color: #000;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: var(--accent-alt);
}

#profile-loader {
  font-size: 1rem;
  margin: 2rem 0;
  color: var(--muted-color);
}

#profile-container {
  display: none;
}

.profile-img-large {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  margin-top: 2rem;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom :10px;
  width: 100%;
}


#friend-btn {
  background-color: #205020;
  color: #fff;
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  left: 210px;
  width: fit-content;
}

#go-back-btn:hover,
#friend-btn:hover {
  background-color: #163b16;
}



h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--muted-color);
  font-weight: bolder;
}

#profile-status {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: var(--text-color);
}
